<h2>Weapon Type</h2>

<hr />

<div class="row">
  <form #form="ngForm" class="col-lg-6" (ngSubmit)="addType()">
    <div class="mb-3">
      <select
        name="code"
        id="code"
        class="form-select"
        [(ngModel)]="typeCodeId"
      >
        <option value=""></option>
        <option *ngFor="let typeCode of typeCodes" [value]="typeCode.id">
          {{ typeCode.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="col-lg-1"></div>
  <div class="col-lg-5">
    <app-table [headers]="headers" [values]="values"></app-table>
  </div>
</div>
