<h2>API Managment</h2>

<hr />

<h4>Codes</h4>
<div class="list-group">
  <div class="row">
    <div class="col-lg-8">
      <button class="list-group-item list-group-item-action">Type</button>
      <button class="list-group-item list-group-item-action">Body</button>
      <button class="list-group-item list-group-item-action">Rarity</button>
      <button class="list-group-item list-group-item-action">Barrel</button>
      <button class="list-group-item list-group-item-action">Grip</button>
      <button class="list-group-item list-group-item-action">Stock</button>
      <button class="list-group-item list-group-item-action">Sight</button>
      <button class="list-group-item list-group-item-action">Accesory</button>
      <button class="list-group-item list-group-item-action">Element</button>
    </div>
  </div>
</div>
