<h2>Weapon Barrels</h2>
<hr />
<div class="row">
  <form [formGroup]="form" class="col-lg-6" (ngSubmit)="addBarrel()">
    <div class="mb-3">
      <label for="barrelId" class="form-label">Barrel</label>
      <div class="input-group">
        <input
          type="text"
          name="barrelId"
          id="barrelId"
          class="form-control"
          readonly
          formControlName="barrel"
          [ngClass]="setInvalidClass('barrel')"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="changeTableVisibility()"
        >
          ⌄
        </button>
      </div>
      <app-invalid-field
        [message]="'The field Barrel is required'"
        [display]="isFieldValid('barrel')"
      ></app-invalid-field>
      <div class="mt-2" id="collapseBarrel">
        <app-table
          [headers]="codeHeaders"
          [values]="codeValues"
          [selectable]="true"
          (selectItemEmitter)="selectBarrel($event)"
        ></app-table>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Rarity</label>
      <ul class="list-group" formArrayName="rarities">
        <li
          class="list-group-item"
          *ngFor="let rarityCode of rarityCodes; index as i"
          [formGroupName]="i"
          [ngClass]="setInvalidClass('rarities')"
        >
          <div class="form-check form-switch">
            <input
              [id]="rarityCode.code"
              type="checkbox"
              class="form-check-input"
              role="switch"
              formControlName="value"
              [ngClass]="setInvalidClass('rarities')"
              (click)="onSelectRarity(i)"
            />
            <label [for]="rarityCode.code" class="form-check-label">{{
              rarityCode.name
            }}</label>
          </div>
          <div
            [id]="'collapse' + rarityCode.code"
            class="containter mt-2"
            formArrayName="bodies"
          >
            <small class="card-tittle">Body</small>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item border-danger"
                *ngFor="let bodyCode of rarityCode.bodies; index as j"
                [formGroupName]="j"
                [ngClass]="setInvalidClass('bodies', i)"
              >
                <input
                  [id]="rarityCode.code + '-' + bodyCode.code"
                  type="checkbox"
                  class="form-check-input me-1"
                  formControlName="value"
                  (click)="onSelectBody(i, j)"
                  [ngClass]="setInvalidClass('bodies', i)"
                />
                <label
                  [for]="rarityCode.code + '-' + bodyCode.code"
                  class="form-check-label"
                  >{{ bodyCode.name }}</label
                >
                <div
                  [id]="'collapse' + rarityCode.code + bodyCode.code"
                  class="btn-group ms-4 border-danger"
                  role="group"
                  formArrayName="types"
                >
                  <div
                    *ngFor="let typeCode of bodyCode.types; index as k"
                    [formGroupName]="k"
                  >
                    <input
                      type="checkbox"
                      class="btn-check"
                      [id]="
                        rarityCode.code +
                        '-' +
                        bodyCode.code +
                        '-' +
                        typeCode.code
                      "
                      formControlName="value"
                    />
                    <label
                      class="btn btn-sm"
                      [for]="
                        rarityCode.code +
                        '-' +
                        bodyCode.code +
                        '-' +
                        typeCode.code
                      "
                      [ngClass]="setTypeButtonsClass('types', i, j, k)"
                      >{{ typeCode.name }}</label
                    >
                  </div>
                </div>
                <div class="col-12">
                  <app-invalid-field
                    [message]="'Check at least one Type'"
                    [display]="isFieldValid('types', i, j)"
                  ></app-invalid-field>
                </div>
              </li>
            </ul>
            <app-invalid-field
              [message]="'Check at least one Body'"
              [display]="isFieldValid('bodies', i)"
            ></app-invalid-field>
          </div>
        </li>
      </ul>
      <app-invalid-field
        [message]="'Check at least one Rarity'"
        [display]="isFieldValid('rarities')"
      ></app-invalid-field>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="disableButton">
        Submit
      </button>
    </div>
  </form>
  <div class="col-lg-1"></div>
  <div class="col-lg-5">
    <app-table [headers]="barrelHeaders" [values]="barrelValues"></app-table>
  </div>
</div>
