<h2>Weapon Rarity</h2>
<hr />

<div class="row">
  <form [formGroup]="form" class="col-lg-6" (ngSubmit)="addRarity()">
    <div class="mb-3">
      <label for="rarityId" class="form-label">Rarity</label>
      <select
        name="rarityId"
        id="rarityId"
        class="form-select"
        formControlName="rarityId"
        [ngClass]="setInvalidClass('rarityId')"
      >
        <option value=""></option>
        <option *ngFor="let rarityCode of rarityCodes" [value]="rarityCode.id">
          {{ rarityCode.name }}
        </option>
      </select>
      <app-invalid-field
        [message]="'The field Rarity is required'"
        [display]="isFieldValid('rarityId')"
      ></app-invalid-field>
    </div>
    <div class="mb-3">
      <div class="d-flex justify-content-between">
        <label class="form-label">Bodies</label>
        <div class="form-check">
          <input
            id="all"
            type="checkbox"
            class="form-check-input"
            (click)="selectAll()"
            formControlName="all"
          />
          <label for="all" class="form-check-label">Select all</label>
        </div>
      </div>
      <ul class="list-group" formArrayName="bodies">
        <li
          class="list-group-item"
          *ngFor="let frontBody of frontBodies; index as i"
          [formGroupName]="i"
          [ngClass]="setInvalidClass('bodies')"
        >
          <div class="form-check form-switch">
            <input
              [id]="frontBody.code"
              type="checkbox"
              class="form-check-input"
              role="switch"
              formControlName="value"
              [ngClass]="setInvalidClass('bodies')"
              (click)="onSelectBody(i)"
            />
            <label [for]="frontBody.code" class="form-check-label">{{
              frontBody.name
            }}</label>
          </div>
          <div
            class="container mt-2"
            formArrayName="types"
            [id]="'collapse' + frontBody.code"
          >
            <small class="card-tittle">Types</small>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item"
                *ngFor="let type of frontBody.types; index as j"
                [formGroupName]="j"
                [ngClass]="setInvalidClass('types', i)"
              >
                <input
                  [id]="frontBody.code + '-' + type.code"
                  type="checkbox"
                  class="form-check-input me-1"
                  formControlName="value"
                  [ngClass]="setInvalidClass('types', i)"
                />
                <label
                  [for]="frontBody.code + '-' + type.code"
                  class="form-check-label"
                  >{{ type.name }}</label
                >
              </li>
            </ul>
            <app-invalid-field
              [message]="'Check at least one Type'"
              [display]="isFieldValid('types', i)"
            ></app-invalid-field>
          </div>
        </li>
      </ul>
      <app-invalid-field
        [message]="'Check at least one Body'"
        [display]="isFieldValid('bodies')"
      ></app-invalid-field>
    </div>
    <div class="mb-3">
      <button type="submit" [disabled]="disableButton" class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
  <div class="col-lg-1"></div>
  <div class="col-lg-5">
    <app-table [headers]="headers" [values]="values"></app-table>
  </div>
</div>
